---
import type { Edition } from '@/pages/api/edition'
import type { Thumbnail } from '@/pages/api/thumbnail'

import AdminLayout from '@/layouts/AdminLayout.astro'
import General from '../_edition-partials/general.svelte'
import Management from '../_edition-partials/management.svelte'
import Printing from '../_edition-partials/printing.svelte'
import Signature from '../_edition-partials/signature.svelte'
import Condition from '../_edition-partials/condition.svelte'
import Dimensions from '../_edition-partials/dimensions.svelte'
import Price from '../_edition-partials/price.svelte'
import Purchase from '../_thumbnail-partials/purchase.svelte'
import Thumbnails from '../_thumbnail-partials/thumbnails.svelte'

const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const edition_id = Astro.params.edition_id

const getEdition = db
  .prepare(
    `SELECT e.*,
            b.title AS book_title,
            p.name AS publisher_name,
            s.name AS seller_name,
            b2.name AS buyer_name,
            l.name AS lender_name
    FROM editions e
    LEFT JOIN books b ON b.id = e.book_id
    LEFT JOIN publishers p ON p.id = e.publisher_id
    LEFT JOIN contacts s ON s.id = e.seller_id
    LEFT JOIN contacts b2 ON b2.id = e.buyer_id
    LEFT JOIN contacts l ON l.id = e.lender_id
    WHERE e.id=?`,
  )
  .bind(edition_id)
  .first<Edition & { book_title: string }>()

const getThumbnails = db
  .prepare(
    `SELECT * FROM editions_images
    WHERE edition_id=?`,
  )
  .bind(edition_id)
  .run<Thumbnail>()

const [edition, thumbnails] = await Promise.all([getEdition, getThumbnails])

if (!edition) {
  return Astro.redirect('/404', 404)
}
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6 grid md:grid-cols-[minmax(0,1fr)_300px] gap-6">
    <section>
      <General
        date={edition.date}
        isbn={edition.isbn}
        isbn13={edition.isbn13}
        msrp={edition.msrp}
        pages={edition.pages}
        description={edition.description}
        client:load
      />

      <Management
        status={edition.status}
        protection={edition.protection}
        binding={edition.binding}
        client:load
      />

      <Printing
        is_limited={!!edition.is_limited}
        limited_num={edition.limited_num}
        limited_total={edition.limited_total}
        edition={edition.edition}
        total_printed={edition.total_printed}
        printing={edition.printing}
        client:load
      />

      <Signature
        is_signed={!!edition.is_signed}
        signature_type={edition.signature_type}
        signature_page={edition.signature_page}
        client:load
      />

      <Condition
        need_repair={!!edition.need_repair}
        book_condition={edition.book_condition}
        book_condition_notes={edition.book_condition_notes}
        jacket_condition={edition.jacket_condition}
        jacket_condition_notes={edition.jacket_condition_notes}
        client:load
      />

      <Dimensions
        width={edition.width}
        height={edition.height}
        depth={edition.depth}
      />

      <Price
        buyer_id={edition.buyer_id ?? ''}
        seller_id={edition.seller_id ?? ''}
        sell_price={edition.sell_price}
        sell_date={edition.sell_date}
        lender_id={edition.lender_id ?? ''}
        lend_status={edition.lend_status}
        lend_date={edition.lending_time}
        client:load
      />
    </section>

    <aside>
      <Thumbnails client:load />

      <Purchase
        purchase_date={edition.purchase_date}
        purchase_price={edition.purchase_price}
        purchase_invoice={edition.purchase_invoice}
        client:load
      />
    </aside>
  </main>
</AdminLayout>
