---
import type { Edition } from '@/pages/api/edition'

import AdminLayout from '@/layouts/AdminLayout.astro'
import General from '../_edition-partials/general.svelte'
import Management from '../_edition-partials/management.svelte'
import Printing from '../_edition-partials/printing.svelte'

const db = Astro.locals.runtime.env.SITE_DB

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')

const edition_id = Astro.params.edition

const edition = await db
  .prepare(
    `SELECT e.*,
            b.title AS book_title,
            p.name AS publisher_name,
            s.name AS seller_name,
            b2.name AS buyer_name,
            l.name AS lender_name
    FROM editions e
    LEFT JOIN books b ON b.id = e.book_id
    LEFT JOIN publishers p ON p.id = e.publisher_id
    LEFT JOIN contacts s ON s.id = e.seller_id
    LEFT JOIN contacts b2 ON b2.id = e.buyer_id
    LEFT JOIN contacts l ON l.id = e.lender_id
    WHERE e.id=?`,
  )

  .bind(edition_id)
  .first<Edition & { book_title: string }>()

if (!edition) {
  return Astro.redirect('/404', 404)
}
---

<AdminLayout title="Admin | Bookinists">
  <main class="px-4 py-6">
    <section class="bg-white px-6 py-4 rounded-md">
      <h2 class="font-semibold">{edition.book_title}</h2>

      <General
        date={edition.date}
        isbn={edition.isbn}
        isbn13={edition.isbn13}
        msrp={edition.msrp}
        pages={edition.pages}
        description={edition.description}
      />

      <Management client:load />

      <Printing client:load />
    </section>
  </main>
</AdminLayout>
